/* ! Custom Prop */

:root {
  --player-width: 100%;
  --player-height: 80px;

  --sidebar-width: 80px;
  --sidebar-height: calc(100vh - var(--player-height));

  --call-to-action-height: 80px;

  --main-width: calc(100vw - var(--sidebar-width));

  --main-content-height: calc(
    100vh - var(--call-to-action-height) - var(--player-height)
  );
}

/* ! Layout */

.wrapper {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.sidebar {
  width: var(--sidebar-width);
  height: var(--sidebar-height);
  overflow: auto;
}

main {
  width: var(--main-width);
}

.call-to-action {
  width: var(--main-width);
  height: var(--call-to-action-height);
}

.main-content {
  width: var(--main-width);
  height: var(--main-content-height);
}

.player {
  width: var(--player-width);
  height: var(--player-height);
}

/* ! Palette */

.bg-black {
  background-color: #000000;
}

.bg-darkblue {
  background-color: #141922;
}

.bg-darkerblue {
  background-color: #0e1115;
}

.bg-darkgray {
  background-color: #252525;
}

/* ! Reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

/* # Utils */

.row {
  display: flex;
}

.col-30 {
  width: 30%;
}

.col-40 {
  width: 40%;
}

.col-100 {
  width: 100%;
}

.d-none {
  display: none;
}

/* # Sidebar */

.sidebar .row {
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.menu,
.profile {
  color: #bbb;
  text-align: center;
}

.menu .logo {
  background-image: url(../img/logo-small.svg);
  display: inline-block;
  margin: 20px 0;
  width: 50px;
  aspect-ratio: 1;
}

.logo {
  cursor: pointer;
}

.menu i {
  display: block;
  padding: 10px 0;
  font-size: 25px;
  cursor: pointer;
  border-left: 2px solid transparent;
}

.menu i:hover {
  color: white;
  border-color: lime;
}

.menu i > span {
  padding-left: 10px;
  font-size: 15px;
  vertical-align: middle;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.divider {
  border: 1px solid #444;
  margin: 15px 0;
  width: calc(100% - 30px);
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile > .row:first-child:hover {
  color: white;
  cursor: pointer;
}

.profile .btn-download {
  display: inline-block;
  padding: 15px 0;
  width: 25px;
}

.profile .btn-download:hover {
  color: white;
}

.profile .btn-profile {
  display: inline-block;
  width: 50px;
  aspect-ratio: 1;
  background-color: #808080;
  border-radius: 50%;
  margin-bottom: 15px;
  cursor: pointer;
}

.profile span {
  padding-left: 10px;
  font-size: 15px;
}

.profile .row {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.profile :last-child span {
  font-size: 20px;
  margin-bottom: 15px;
  color: white;
  font-weight: 800;
}

.library-header {
  padding: 20px 30px 0;
  color: white;
}

.library-header h3 {
  padding-bottom: 15px;
  text-transform: uppercase;
}

.library-add {
  background-color: #a3a3a3;
  color: #000;
  width: 50px;
  height: 50px;
  font-size: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
}

.library-add-section:hover {
  color: white;
  cursor: pointer;
}

.library-add-section:hover .library-add {
  background-color: white;
}

.library-add:hover {
  background-color: white;
}

.library-add-section {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #a3a3a3;
}

.library-add-section span {
  font-size: 20px;
}

.library-body {
  color: #a3a3a3;
  padding-left: 30px;
  overflow: auto;
  height: 300px;
  margin-bottom: 32px;
}

.library-body ul {
  list-style: none;
  padding-top: 20px;
}

.library-body ul li {
  padding: 10px 0;
}

.library-body ul li:hover {
  color: white;
  cursor: pointer;
}

/* ! Content */

/* # Call to Action */

.call-to-action {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 20px 20px 0;
}

.call-to-action button {
  border-radius: 25px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  padding: 10px 20px;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 20px;
}

.call-to-action button:hover {
  font-size: 25px;
}

/* # Cards and Tabs */

.main-content {
  padding: 20px;
  overflow-y: auto;
}

.tabs > .row {
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}

.main-content .tabs .tab {
  font-size: 14px;
  color: #888;
  text-transform: uppercase;
}

.tabs .tab::after {
  content: "";
  display: block;
  margin-top: 5px;
  width: 40px;
  border: 1px solid transparent;
  border-radius: 25px;
  position: relative;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.tabs .tab:hover::after,
.tabs .tab:hover {
  cursor: pointer;
  color: white;
  border-color: lime;
}

.recent-songs {
  margin-top: 40px;
  color: white;
  font-size: 18px;
}

.recent-songs .row {
  flex-wrap: wrap;
  gap: 32px;
}

.recent-songs > h2 {
  margin-bottom: 20px;
}

.recent-song:hover::before {
  content: "";
  display: block;
  width: 100%;
  aspect-ratio: 1;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  cursor: pointer;
}

.song-play-button {
  display: none;
  font-size: 40px;
  color: #bbb;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 2;
  cursor: pointer;
}

.recent-song:hover .song-play-button {
  display: block;
}

.recent-song {
  text-align: center;
  width: calc(50% - 32px);
  position: relative;
  height: fit-content;
}

.recent-song-image {
  width: 100%;
  aspect-ratio: 1;
  margin-bottom: 15px;
  position: relative;
}

.recent-song-title {
  margin-bottom: 5px;
  cursor: pointer;
}

.recent-song-subtitle {
  color: #888;
  cursor: pointer;
}

/* # Important */
/* ! To Do: Change Classes Name ! */
/* # Important */

.recent-songs > .small-gray {
  font-size: 12px;
  color: #888;
  display: inline-block;
  margin-bottom: 15px;
}

.recent-songs > .no-margin {
  margin-bottom: 0;
}

/* # Important */
/* ! To Do: Change Classes Name ! */
/* # Important */

/* # Player */

.player > .row {
  padding: 10px;
  padding-bottom: 0;
}

.col-image > .row {
  align-items: center;
  height: 100%;
}

.player-song-image {
  width: 30px;
  aspect-ratio: 1;
}

.col-label > .row {
  flex-direction: column;
  gap: 3px;
  padding-left: 10px;
  padding-top: 8px;
}

.player-band-name {
  color: white;
  font-size: 16px;
}

.player-song-label {
  color: #a3a3a3;
  font-size: 12px;
}

.col-button > .row {
  flex-direction: column;
  padding: 10px;
  padding-left: 20px;
  row-gap: 10px;
}

i.player-song-button.fa-regular.fa-heart:hover {
  color: red;
}

i.player-song-button.fa-regular.fa-folder:hover {
  color: orange;
}

.player-song-button {
  font-size: 20px;
  color: #a3a3a3;
  cursor: pointer;
}

.col-40 > .row {
  flex-wrap: wrap;
}

.col-100-button {
  width: 100%;
  color: white;
  font-size: 25px;
}

.col-100-button > .row {
  gap: 25px;
  justify-content: space-around;
}

.col-100-button > .row i {
  cursor: pointer;
  font-size: 20px;
}

.col-100.col-progress-bar > .row {
  width: 100%;
}

.progress-bar {
  display: inline-block;
  margin-top: 20px;
  width: 100%;
  height: 6px;
  background-color: #444;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
}

.progress-bar:hover::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: lime;
  position: absolute;
  top: 0%;
  left: calc(100% * 0.3);
  transform: translate(-50%, -25%);
}

.progress-bar:hover .progressed {
  background-color: lime;
}

.progressed {
  display: inline-block;
  width: 30%;
  height: 6px;
  background-color: #a3a3a3;
  border-radius: 15px;
  z-index: 1;
  position: relative;
  top: -150%;
  left: 0%;
  cursor: pointer;
}

.progressed:hover {
  background-color: lime;
}

.progress-bar-text {
  margin-top: 14px;
  font-size: 15px;
  color: white;
}

.row .progress-bar-text:first-child {
  padding-right: 5px;
}

.row .progress-bar-text:last-child {
  padding-left: 5px;
}

.col-setting {
  color: white;
  padding-left: 15px;
  margin: auto 0;
  display: flex;
  justify-content: flex-end;
}

.col-setting .row {
  width: 100%;
  max-width: 200px;
}

.col-setting i {
  margin: 0 5px;
  font-size: 15px;
}

.col-setting .col-100 {
  max-width: 200px;
}

.col-setting .col-100 .row {
  height: 100%;
  max-width: 200px;
  width: 100%;
}

.col-setting .progress-bar {
  margin: auto 0;
  margin-left: 5px;
  max-width: 200px;
}

.col-setting .progressed {
  max-width: calc(200px * 0.7);
}

/* # Responsive */

/* * Small Device */
@media screen and (min-width: 576px) {
  :root {
    --sidebar-width: 300px;
    --main-width: calc(100vw - var(--sidebar-width));
  }

  .menu,
  .profile {
    text-align: left;
  }

  .profile {
    padding-left: 30px;
    align-items: flex-start;
  }

  .profile .btn-download {
    padding: 0;
  }

  .menu .logo {
    background-image: url(../img/logo.svg);
    display: inline-block;
    width: 200px;
    height: 50px;
    background-repeat: no-repeat;
    margin-left: 30px;
  }

  .menu i {
    padding-left: 30px;
  }

  /* Debug */
  .d-none {
    display: inline-block;
  }
}

/* * Medium Device */
@media screen and (min-width: 768px) {
  .recent-song {
    width: calc(25% - 32px);
  }
}

/* * Large Device */
@media screen and (min-width: 992px) {
  .col-button > .row {
    flex-direction: row;
    gap: 15px;
    align-items: center;
    height: 100%;
  }

  .recent-song {
    width: calc(100% / 6 - 32px);
  }
}
